.card {
  height: 300px;
  width: 200px;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  position: relative; }
  .card .cardHeader {
    height: 32.5px; }
    .card .cardHeader .cardName {
      display: inline-block;
      vertical-align: top; }
    .card .cardHeader .cardPower {
      background-color: black;
      border-radius: 100px;
      font-size: 2em;
      width: 65px;
      height: 65px;
      color: white;
      text-align: center;
      line-height: 2em;
      position: relative;
      display: inline-block; }
      .card .cardHeader .cardPower span {
        position: absolute;
        bottom: -10px;
        left: 0;
        background-color: gray;
        border: 1px solid yellow;
        border-radius: 100px;
        height: 30px;
        width: 30px; }
        .card .cardHeader .cardPower span .pip {
          height: 3px;
          width: 3px;
          border-radius: 100px;
          background-color: white; }
        .card .cardHeader .cardPower span .topLeft {
          position: absolute;
          top: calc(25% - 1.5px);
          left: calc(25% - 1.5px); }
        .card .cardHeader .cardPower span .topRight {
          position: absolute;
          top: calc(25% - 1.5px);
          left: calc(75% - 1.5px); }
        .card .cardHeader .cardPower span .middle {
          position: absolute;
          top: calc(50% - 1.5px);
          left: calc(50% - 1.5px); }
        .card .cardHeader .cardPower span .bottomLeft {
          position: absolute;
          top: calc(75% - 1.5px);
          left: calc(25% - 1.5px); }
        .card .cardHeader .cardPower span .bottomRight {
          position: absolute;
          top: calc(75% - 1.5px);
          left: calc(75% - 1.5px); }
        .card .cardHeader .cardPower span .midLeft {
          position: absolute;
          top: calc(33.33% - 1.5px);
          left: calc(33.33% - 1.5px); }
        .card .cardHeader .cardPower span .midRight {
          position: absolute;
          top: calc(66.66% - 1.5px);
          left: calc(66.66% - 1.5px); }
  .card .cardPicture {
    height: 100px;
    width: calc(100% + 20px);
    margin-left: -10px; }
    .card .cardPicture img {
      height: 100%;
      width: 100%; }
  .card .cardDescription {
    text-align: center; }
  .card .cardFlavorText {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; }

.playButton {
  background-color: red; }

.miniChat {
  display: none;
  z-index: 100; }
  @media (max-width: 1200px) {
    .miniChat {
      display: block;
      background-color: #0A142A;
      color: #57637C;
      border-radius: 100px;
      padding: 10px;
      position: fixed;
      bottom: 10px;
      right: 10px;
      font-size: 1.25em; } }

.chatBox {
  background-color: #0A142A;
  padding: 10px;
  border-radius: 3px;
  width: 400px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 300px;
  color: #57637C;
  z-index: 100; }
  .chatBox .chatBoxHead {
    padding-bottom: 10px;
    width: 100%; }
    .chatBox .chatBoxHead .closeChat {
      float: right; }
  .chatBox .display {
    height: 70%;
    background-color: #263048;
    overflow: scroll;
    padding: 10px;
    border-radius: 3px; }
    .chatBox .display div {
      margin-bottom: 10px;
      line-height: 1.25em; }
      .chatBox .display div span {
        color: #3D4862; }
      .chatBox .display div .date {
        float: right; }
  .chatBox .input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: 10%;
    display: table; }
    .chatBox .input #chatInput, .chatBox .input #chatButton {
      vertical-align: top;
      box-sizing: border-box;
      margin: 0px;
      border: 0px;
      outline: none; }
    .chatBox .input #chatInput {
      background-color: #263048;
      height: 100%;
      width: calc(100% - 75px);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      padding-left: 5px; }
    .chatBox .input ::-webkit-input-placeholder {
      color: #57637C; }
    .chatBox .input :-moz-placeholder {
      color: #57637C; }
    .chatBox .input ::-moz-placeholder {
      color: #57637C; }
    .chatBox .input :-ms-input-placeholder {
      color: #57637C; }
    .chatBox .input #chatInput:focus {
      outline: none; }
    .chatBox .input #chatButton {
      background-color: #18233C;
      height: 110%;
      width: 75px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  @media (max-width: 1200px) {
    .chatBox {
      display: none; } }
  @media (max-width: 440px) {
    .chatBox {
      width: calc(100vw - 40px); } }

.hideChat {
  display: none; }

.showChat {
  display: block; }

.nav {
  background-color: gray; }
  .nav a {
    color: white; }
